body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.header {
  background-color: rgb(253, 237, 237);
}
.banner {
  display: flex;
  padding: 30px 150px 0px 240px;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(246, 227, 227);
  justify-content: space-around;
border-right: 240px; */
}
.header-title {
  max-width: 500px;
}
.img-title {
  width: 400px;
}
.header-section {
  color: #272727;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0px;
  font-weight: bolder;
}
.para-section {
  color: #7c7778;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}
.btn-primary {
  border-radius: 5px;
  background: #e55473;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  padding: 12px 20px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.our {
  padding: 100px 100px 20px 100px;
  border-radius: 10px;
  text-align: center;
}
.our-section {
  color: #272727;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .our-para-section{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
} */

.our-feature-container {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  height: 480px;
}
.feature {
  padding: 24px 24px 0px 24px;
  border-radius: 300px 300px 0px 0px;
  width: 310px;
}
#feature-id {
  background: rgba(167, 33, 98, 0.15);
}
#feature-id-1 {
  background: rgba(5, 151, 160, 0.15);
}
#feature-id-2 {
  background: rgba(71, 125, 17, 0.15);
}
.feature-img {
  width: 250px;
  padding-top: 110px;
  padding-left: 30px;
}
.feature-img2 {
  width: 300px;
  padding-top: 120px;
  padding-left: 20px;
}
.feature-img3 {
  width: 250px;
  padding-top: 80px;
  padding-left: 30px;
}
.tree-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  gap: 130px;
}
/* .links{
  display: flex;
  text-align: center;
} */
/* other section */
.icon-bar {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  padding: 50px 100px 50px 100px;
}
.icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-img {
  width: 100px;
}

/* hot deal section */
.hot-deal {
  display: flex;
  background-color: rgb(246, 227, 227);
  padding: 100px 150px 100px 200px;
  margin-top: 120px;
  height: 300px;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.hot-deal-title {
  text-align: center;
}
.hot-img {
  width: 240px;
  height: 290px;
}

/* insta part */
.inst {
  text-align: center;
  margin-bottom: 30px;
}
.inst-heading {
  margin-top: 90px;
}
#img {
  width: 300px;
  height: 300px;
  display: flex;
  /* padding: 0px 30px 30px 30px; */
  gap: 20px;
}
.btn-primary_ins {
  border-radius: 5px;
  background: #e55473;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  margin-left: 15px;
  padding: 2px 20px;
  height: 50px;
}
/* .banner img */

/* footer part */
.footer {
  background-color: #111010;
  text-align: center;
  height: 300px;
  margin-top: 80px;
}
.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.footer-heading {
  color: #e55473;
  margin-bottom: 0px;
}
.footer-para {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  font-weight: 250;
  line-height: 20px;
}

/* latest part */
.latest {
  margin-top: 40px;
  background-image: url(../image/Rectangle\ 9.png);
  background-repeat: no-repeat;
  padding: 100px 240px;
  text-align: center;
}
.input-field {
  display: block;
  padding: 18px 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  width: 100%;
}
.input {
  display: flex;
  justify-content: space-around;
}

/* bonus section  */
.bonous {
  display: flex;
  justify-content: space-between;
  background-color: #929a9944;
  margin-top: 70px;
  text-align: center;
  height: 522px;
}
.bonous2 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fac7b400;
  text-align: center;
  justify-content: center;
}
.bonous-title {
  font-weight: bold;
  color: #272727;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0px;
  font-weight: bolder;
  text-align: center;
}
.bonus-img {
  width: 600px;
  height: 520px;
}
